<section class="bg-white pb-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4 justify-center">
    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">
        <h1 class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl" href="#">
          <%= I18n.t("activerecord.models.#{Course.to_s.downcase}.two")%>
        </h1>
      </div>
    </nav>

    <% if @courses.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center">
        <% @courses.each do |course| %>
          <%= render "course", course: course %>
        <% end %>
      </div>
    <% else %>
      <p class="text-center text-gray-500">Nenhum curso encontrado</p>
    <% end %>
  </div>
</section>
